h4 {
  padding-left: 1.5%;
}

h5 {
  padding-left: 1.5%;
  padding-bottom: 1.5%;
}
h6 {
  color: green;
}

.container-fluid {
  padding: 1%;
}

.navbar-brand {
  color: black;
  font-weight: bold;
}

.navbar-brand:hover {
  color: black;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: black;
}

.inform {
  text-align: center;
}

#title {
  background-color: white;
}

#generate_button {
  padding: 2%;
}

#welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}

